* {
    margin: 0;
    padding: 0;
}

/* General */

html {
    font-size: 62.5%;
    font-family: 'Montserrat', sans-serif;
    background-color: black;
    scroll-behavior: smooth;
}

.subtitulo {
    color: #E6D5B8;
    font-size: 2rem;
    padding: 25px 0;
}

/* Distribución del contenido */

.container {
    display: grid;
    grid-template-columns: 30px auto 30px;
    grid-template-rows: 80px auto 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "header header header"
        ". content ."
        "footer footer footer";
}

.header {
    grid-area: header;
}

.footer {
    grid-area: footer;
}

.content {
    grid-area: content;
}

/* Barra de navegación */

nav {
    display: flex;
    background-color: #E45826;
    height: 80px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

nav ul {
    display: flex;
    list-style: none;
    flex-grow: 1;
    align-items: center;
    justify-content: space-evenly;
}

nav ul li a {
    text-decoration: none;
    color: black;
    font-size: 2.2rem;

}

nav ul li:hover {
    text-decoration: underline;
}

/* Estilo Inicio */

#inicio {
    background-image: url(imagenes/inicio.jpg);
    background-size: cover;
    color: #E45826;
    width: 100%;
    height: 700px;
    filter: brightness(80%);
}

#inicio div {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    grid-template-areas:
        "hero hero hero"
        "hero2 . hero3";
}

#inicio div .hero {
    grid-area: hero;
    font-size: 10rem;
    font-weight: 900;
    text-transform: uppercase;
    text-align: center;
    padding-top: 250px;
}

#inicio div .hero2 {
    grid-area: hero2;
    text-transform: uppercase;
    padding-left: 120px;
    font-size: 2.4rem;
}

#inicio div .hero3 {
    grid-area: hero3;
    text-transform: uppercase;
    text-align: center;
    font-size: 2.4rem;
    /* ALINEAR MAS A LA IZQ */
}

/* Estilo equipo */

#equipo {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#equipo .flexbox {
    display: flex;
    align-self: center;
    gap: 15px 10px;
    height: 500px;
}

#equipo .card {
    display: flex;
    flex-direction: column;
    background-color: #E6D5B8;
    padding: 20px;
}

.card img {
    display: flex;
    align-self: center;
    justify-self: center;
    padding-top: 20px;
    width: 300px;
}
.card p {
    font-size: 1.2rem;
    display: flex;
    align-items: baseline;
    padding-top: 20px;
    flex-grow: 1;
}

/* Estilo Servicios */

.text {
    color: #E6D5B8;
    font-size: 1.6rem;
}

/* Estilo Contacto */

#contacto {
    display: flex;
    flex-direction: column;
}

form {
    background-color: #E6D5B8;
    display: flex;
    align-items: baseline;
    padding: 20px;
    column-gap: 20px;
    height: 550px;
}

.col1 {
    display: flex;
    flex-flow: column nowrap;
    justify-self: flex-start;
    flex-grow: 1;
    justify-items: space-between;
}

.col2 {
    display: flex;
    flex-flow: column nowrap;
    justify-self: center;
    flex-grow: 1;
    justify-items: space-between;
}

.col3 {
    display: flex;
    flex-flow: column nowrap;
    justify-self: flex-end;
    flex-grow: 1;
    justify-items: space-between;
}

label {
    font-size: 2rem;
    padding: 20px 0;
}

input {
    background-color: #cdbea4;
    padding: 20px;
    font-size: 1.6rem;
    margin-right: 5px;
    border: none;
    border-radius: 10px;
}

select {
    background-color: #cdbea4;
    padding: 20px;
    font-size: 1.6rem;
    border: none;
    border-radius: 10px;
}

option .selected{
    display: none;
}

textarea {
    background-color: #cdbea4;
    color:black;
    padding: 5px;
    font-size: 1.6rem;
    height: 200px;
    border: none;
    border-radius: 10px;
    resize: none;
}

input[type=submit], input[type=reset] {
    background-color: #917039;
    width: 20%;
    margin: 10px 0;
    padding: 15px;
    align-self: flex-end;
}

/* Estilos Footer */

footer {
    display: flex;
    background-color: #E45826;
    height: 100px;
    align-items: flex-start;
    margin-top: 20px;
}