.navbar { 
    background-color: $primary-color;
    font-size: 2.2rem;
}

.nav-link {
    transition: all 500ms;
    &:focus, &:hover {
        text-decoration: underline;
        scale: 1.2;
    }
}